{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'downloader/css.html' %}
    <link rel="stylesheet" href="{% static 'downloader/css/style.css' %}" >
    {% block styles %}{% endblock %}
    {% block page %}{% endblock %}
</head>
<body>
    <div class="container-fluid">
        {% block content %}
        {% endblock %}
    </div>
    {% include 'downloader/js.html' %}
    {% block scripts %}{% endblock %}
</body>
</html>